Repository appleparan/mlflow-template: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyupgrade, isort, black, pylint, mypy, darglint

.pre-commit-config.yaml:

default_language_version:
  python: python3.9

default_stages: [commit, push]

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.5.0
    hooks:
      - id: check-yaml
        exclude: .github/
      - id: end-of-file-fixer
        exclude: LICENSE

  - repo: local
    hooks:
      - id: pyupgrade
        name: pyupgrade
        entry: poetry run pyupgrade --py39-plus
        types: [python]
        language: system

  - repo: local
    hooks:
      - id: isort
        name: isort
        entry: poetry run isort --settings-path pyproject.toml
        exclude: ^{{ cookiecutter.project_name }}/
        types: [python]
        language: system

  - repo: local
    hooks:
      - id: black
        name: black
        entry: poetry run black --config pyproject.toml
        types: [python]
        language: system

  - repo: local
    hooks:
      - id: pylint
        name: pylint
        entry: poetry run pylint
        types: [python]
        args: [--disable=all, --enable=unused-import, --load-plugins, pylint_pytest]
        language: system

  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: poetry run mypy
        exclude: |
          (?x)(
              ^tests/|
              ^scripts.py
          )
        types: [python]
        args: [--strict]
        language: system

  - repo: local
    hooks:
    - id: darglint
      name: darglint
      entry: poetry run darglint
      exclude: >
        ^tests/*
      types: [python]
      language: system

Add Hydra and MLflow
  pyproject.toml
Due: none

Add cli.py to run model
  configs.sample/configs.yaml
  template/cli.py
Due: pyupgrade, isort, black, pylint, mypy, darglint

Remove 3.11 from GitHub Actions
  .github/workflows/pytest.yml
Due: none

Update requirements*.txt
  requirements-dev.txt
  requirements.txt
Due: none

Update README
  README.md
Due: none

Remove poetry lock file
  poetry.lock
Due: none

Update pytest
  pyproject.toml
Due: none

Ignore MLFlow run directory
  .gitignore
Due: none

Fix the issue with multiple top-level direcories in flat-layout
  pyproject.toml
Due: none

Remove poetry
  .pre-commit-config.yaml
  .pylintrc
  pyproject.toml
Due: none

Remove darglint
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Configure pydocstyle
  .pre-commit-config.yaml
  pyproject.toml
  tests/__init__.py
Due: pyupgrade, isort, black, pylint, darglint

Support mypy
  .github/workflows/pytest.yml
  .pre-commit-config.yaml
  README.md
  configs_sample/__init__.py
  configs_sample/configs.yaml
  mlflow_template/__init__.py
  mlflow_template/cli.py
  pyproject.toml
  requirements-dev.txt
  requirements.txt
  scripts.py
  tests/test_mlflow_template.py
Due: pyupgrade, isort, black, pylint, mypy, darglint
